/* Hero Section */
section.hero {
    display: flex;
    gap: var(--desktop-gap);
    flex-direction: column;

    h1 {
        font-size: var(--h1-typography);
    }
    .upper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .greetings-container {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
    .lower {
        display: flex;
        gap: 50px;
        .account-info {
            display: flex;
            flex: 1;
            flex-direction: column;
            background-color: var(--primary-blue);
            border-radius: 20px;
            padding: 50px;
            color: white;
            box-shadow: var(--box-shadow-grey);
            p.number {
                font-size: var(--h2-typography);
                font-weight: bold;
            }
        }
        .balance-container {
            display: flex;
            flex: 5;
            justify-content: space-between;
            background-color: white;
            padding: 50px;
            align-items: center;
            border-radius: 32px;
            .left {
                .balance-info {
                    display: flex;
                    gap: 20px;
                    align-items: center;
                    .balance-number {
                        font-size: var(--h2-typography);
                        font-weight: 600;
                    }
                    img {
                        height: 25px;
                        cursor: pointer;
                    }
                }
            }
            .right {
                display: flex;
                align-items: center;
                gap: 25px;
                .dummy-logo {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50px;
                    height: 50px;
                    background-color: var(--primary-blue);
                    border-radius: 10px;
                    box-shadow: var(--box-shadow-blue);
                    cursor: pointer;
                    img {
                        width: 50%;
                    }
                }
            }
        }
    }
    // handle mobile
    @media (max-width: 768px) {
        .upper {
            img {
                width: clamp(70px, 20vw, 120px);
            }
        }
        .lower {
            flex-direction: column;
            gap: 25px;
            .account-info {
                flex: 1;
                padding: 10px 20px;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                border-radius: 12px;
                p.number {
                    font-weight: 500;
                    font-size: var(--p-typography);
                }
            }
            .balance-container {
                padding: 30px;
                .right {
                    flex-direction: column;
                }
            }
        }
    }
}
