/* Navbar */
nav {
    background-color: white;
    box-shadow: 0px 4px 10px 0px #d1d1d140;

    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;
        .logo {
            height: 35px;
        }
        .right-navbar {
            display: flex;
            gap: 40px;
            a {
                text-decoration: none;
                color: black;
                transition: 0.3s all ease;
                &.active,
                &:hover {
                    font-weight: 500;
                    color: var(--primary-blue);
                }
            }
        }
    }
}
